@{
  ViewBag.Title = "Contact"; 
}

<div class="table-responsive">
    <table class="table">
      <tbody>
        <tr>
          <th scope="row">Name</th>
          <td>Gamo</td>
        </tr>
        <tr>
          <th scope="row">Adress</th>
          <td>Somewhere</td>
        </tr>
        <tr>
        <tr>
          <th scope="row">Mobile</th>
          <td><a class="link-secondary" href="tel:460123456789">+46 (0) 123 456789</a></td>
        </tr>
        <tr>
          <th scope="row">E-mail</th>
          <td><a class="link-secondary" href="mailto:gamo@gamo.se">gamo@gamo.se</a></td>
        </tr>
          <th scope="row">Github</th>
          <td><a target="_blank" class="link-secondary" href="https://github.com/gamo-code">github.com/gamo-code</a></td>
        </tr>
      </tbody>
    </table>
</div>