@model PersonViewModel

<form asp-controller="Person" asp-action="Create">

  <div class="row">
    <div class="col">
      <div class="row mb-3">

        <div class="col align-text-top">
          <div class="input-group w-100">
            <input asp-for="personCreateViewModel.Name" class="form-control" placeholder="Name" />
            <div class="input-group-append">
              <select asp-for="personCreateViewModel.Id" asp-items="Model.PersonList" class="form-select custom-select"></select>
            </div>
      
          </div>
          <span asp-validation-for="personCreateViewModel.Name" class="text-danger fs-8"></span>
          <span asp-validation-for="personCreateViewModel.Id" class="text-danger fs-8"></span>
        </div>

        <div class="col align-text-top">
          <input asp-for="personCreateViewModel.PhoneNumber" class="form-control" placeholder="Phone Number" />
          <span asp-validation-for="personCreateViewModel.PhoneNumber" class="text-danger fs-8"></span>
        </div>

        <div class="col align-text-top">
          <div class="input-group w-100">
            <input asp-for="personCreateViewModel.LanguageName" class="form-control" placeholder="Language" />
            <div class="input-group-append">
              <select asp-for="personCreateViewModel.LanguageId" asp-items="Model.LanguageList" class="form-select custom-select"></select>
            </div>
      
          </div>
          <span asp-validation-for="personCreateViewModel.LanguageName" class="text-danger fs-8"></span>
          <span asp-validation-for="personCreateViewModel.LanguageId" class="text-danger fs-8"></span>
        </div>
      </div>

      <div class="row">

        <div class="col"></div>

        <div class="col align-text-top">
          <div class="input-group w-100">
            <input asp-for="personCreateViewModel.CityName" class="form-control" placeholder="City name" />
            <div class="input-group-append">
              <select asp-for="personCreateViewModel.CityId" asp-items="Model.CityList" class="form-select custom-select"></select>
            </div>
      
          </div>
          <span asp-validation-for="personCreateViewModel.CityName" class="text-danger fs-8"></span>
          <span asp-validation-for="personCreateViewModel.CityId" class="text-danger fs-8"></span>
        </div>

        <div class="col align-text-top">
          <div class="input-group w-100">
            <input asp-for="personCreateViewModel.CountryName" class="form-control" placeholder="Country name" />
            <div class="input-group-append">
              <select asp-for="personCreateViewModel.CountryId" asp-items="Model.CountryList" class="form-select custom-select"></select>
            </div>
      
          </div>
          <span asp-validation-for="personCreateViewModel.CountryName" class="text-danger fs-8"></span>
          <span asp-validation-for="personCreateViewModel.CountryId" class="text-danger fs-8"></span>
        </div>

      </div>

    </div>

    <div class="col-1 d-flex justify-content-center align-items-center">
      <div class="">
        <button type="submit" class="btn btn-secondary">Add</button>
      </div>
    </div>

  </div>

</form>
