.footer-text {
  color: rgba(0,0,0,.55);
}

.rounded-15 {
  border-radius: 1.5rem !important;
}

.input-group > .form-temperature-entity {
  position: relative;
  flex: 0 1 auto;
  width: auto;
  min-width: auto;
}
