.footer-text {
  color: rgba(0,0,0,.55);
}

.rounded-15 {
  border-radius: 1.5rem !important;
}

.input-group > .form-temperature-entity {
  position: relative;
  flex: 0 1 auto;
  width: auto;
  min-width: auto;
}

.w-30 {
  width: 30% !important;
}

.link-sort {
  color: #212529 !important;
  text-decoration-style: dotted !important;
}

.link-sort:hover {
  color: #212529 !important;
  text-decoration-style: solid !important;
}

.person-table > * > * {
  padding: 0.5rem 0.5rem;
  border-bottom: 1px solid #dee2e6;
}

.person-table > :first-child {
  border-bottom: 2px solid #212529;
  border-top: 2px solid #212529;
  font-weight: 700;
}

.person-table > :last-child {
  border-bottom: 2px solid #212529;
}   