body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.comma:before {
  content: ", ";
}
.comma:empty:before,
.comma:first-of-type:before,
.comma:first-of-type + .comma:empty:before,
.comma:empty + .comma:not(:last-of-type):before,
.comma:empty + .comma:empty:before {
  content: "";
}
